.container {
    width: 60%;
    margin: auto;
}

.nav-bar {
    list-style: none;
    margin: 10px;
    padding: 50px;
    padding-bottom: 0px;
}

.nav-bar li {
    display: inline-block;
    padding-right: 50px;
    font-size: 30px;
}

.nav-bar h2, a {
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.nav-bar h2:hover {
    background-color: blanchedalmond;
}

.title {
    background-image: url('images/blackwall.jpg');
    margin-bottom: 30px;
    height: 70px;
    background-repeat: repeat-x;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    opacity: 0.85;
}

.box-1 {
    background-color: whitesmoke;
    opacity: 0.93;
    color: black;
    border: 5px black solid;
    border-radius: 5px;
    border-width: 8px;
    padding: 20px;
    margin-top: 80px;
}

.box-1 p, button {
    opacity: 0.9;
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
    line-height: 1.5em;
}

.body-background {
    background: url(images/castle.jpg);
    background-size: auto;
    background-repeat: repeat;
}

.body-background-about {
    background: url(images/knights.jpg);
    background-size: auto;
    background-repeat: repeat;
}

.buttons {
    display: block;
    width: 90%;
    margin: 20px;
    opacity: 1;
    color: whitesmoke;
    background-color: black;
}

.buttons:hover {
    background-color: #3e8e41;
}

.buttons:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#next {
    float: right;
    background-color: black;
    color: whitesmoke;
    margin-bottom: 100px;
}

#previous {
    float: left;
    background-color: black;
    color: whitesmoke;
    margin-bottom: 100px;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: middle;
    display: block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-text {
    text-align: center;
}

.show {
    display: block;
}

.flow-chart{
    float: left;
}